/* style.css mein */
.moving-header {
  font-size: 32px; /* badha diya */
  font-weight: bold;
  font-style: italic;
  background-color: white;
  color: black;
  border-bottom: 1px solid #ccc;
}
.image-upload:hover {
  background-color: #f1f1f1;
  transition: 0.3s;
}
